<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular UI Sync</span>
  <span class="spacer"></span>
  <span *ngIf="user">{{ user.email }}</span>
  <button (click)="logOut()" *ngIf="user; else noLogin" mat-icon-button>
    <mat-icon>person</mat-icon>
  </button>
  <ng-template #noLogin>
    <button (click)="login()" mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </ng-template>
</mat-toolbar>
